.learn-body #formPlayers{
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
    align-items: baseline;
}

.learn-body h4 {
    margin-right: 0.6%;
}

.learn-body #input-games {
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 0.1%;
    text-align: center;
}

.learn-body #games-btn {
    font-size: 15px;
    height: 36px;
    border: 2px solid black;
    border-radius: 5px;
}

@media screen and (min-width: 0px) and (max-width: 294px) {

   .learn-body {
       margin: 0;
       padding: 0;
       font-family: "study-variable",sans-serif;
       text-align: center;
       align-items: center;
       background: rgb(233, 234, 230);
   }

   .learn-body .navbar {
       background: linear-gradient(180deg, #519bfb, #6294d1c9); 
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .learn-body .navbar a:hover {
       transition-property: font-size, border-bottom;
       transition-duration: 0.5s;
       transition-delay: 0.1s;
       font-size: 17px;
       border-bottom: 2px solid whitesmoke;
       border-left: none !important;
   }

   .learn-body #learn a{
       border-left: 3px solid rgb(232, 189, 58);
   }

   .learn-body .navbar > div {
       margin-top: 2%;
   }

   .learn-body .navbar #namePage{
       font-size: 25px;
       font-weight:bolder;
   }

   .learn-body .navbar a {
       font-family: "study-variable",sans-serif;
       font-size: 14px;
       font-weight: 300;
       color: white;
       text-decoration: none;
       text-shadow: 0 1 3px black;
   }

   .learn-body #anuncio {
       margin: 7% 2% 3% 6%;
       font-weight: 300;
       font-style: italic;
       text-align: center;
       width: 90%;
   }

   .learn-body .main .container {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 1%;
       margin-bottom: 1%;
       padding: 10px;
       height: 445px;
       width: 100%;
       row-gap: 2%;
   }

   .learn-body .container .cards {
       background: linear-gradient(180deg,#648de1, #ffffff);
       align-items: center;
       height: 100%;
       width: 90%;
       border-radius: 8px;
   }

     .learn-body .container img, p {
       height: 30%;
   }

   .learn-body .container .cards h5 {
       color: white;
       height: 9.3%;
   }

   .learn-body .btn {
       background: #3491f3;
       color:rgba(0, 0, 0, 0.726);
       justify-content: center;
       border-radius: 4%;
       height: 5%;
       margin-top: 16%;
   }

   .learn-body .btn:hover {
       color: rgb(252, 250, 250);
       background: #2a77ca;
       zoom: 110%;
   }

   .learn-body #card2 .btn {
       margin-top: 22%;
   }

   .learn-body p {
       padding: 5% 1%;
       text-align: center;
       letter-spacing: 1.5px;
   }
}

@media screen and (min-width: 295px) and (max-width: 329px) {

    .learn-body {
        margin: 0;
        font-family: "study-variable",sans-serif;
        text-align: center;
        align-items: center;
        background: rgb(233, 234, 230);
    }

    .learn-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .learn-body .navbar a:hover {
        transition-property: font-size, border-bottom;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        font-size: 17px;
        border-bottom: 2px solid whitesmoke;
        border-left: none !important;
    }

    .learn-body #learn a{
        border-left: 3px solid rgb(232, 189, 58);
    } 

    .learn-body .navbar > div {
        margin-top: 2%;
    }

    .learn-body .navbar #namePage{
        font-size: 25px;
        font-weight:bolder;
    }

    .learn-body .navbar a {
        font-family: "study-variable",sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        text-shadow: 0 1 3px black;
    }

    .learn-body #anuncio {
        margin: 7% 2% 3% 6%;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        width: 90%;
    } 

    .learn-body .main .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 10px;
        height: 435px;
        width: 100%;
        row-gap: 5%;
    }

    .learn-body .container .cards {
        background: linear-gradient(180deg,#648de1, #ffffff);
        align-items: center;
        height: 100%;
        width: 90%;
        border-radius: 8px;
    }

    .learn-body .container .cards:hover {
        
        text-shadow: 0 0 3px rgb(230, 221, 221);
        transition-duration: 0.7s;
      }

    .learn-body .container img, p {
        height: 35%;
    }

    .learn-body .container .cards h5 {
        height: 6%;
    }

    .learn-body .btn {
        background: #3491f3;
        color:rgba(0, 0, 0, 0.726);
        justify-content: center;
        border-radius: 4%;
        height: 7%;
        margin-top: 5%;
    }

    .learn-body .btn:hover {
        background: #73adeb;
    }

    .learn-body p {
        padding: 5% 1%;
        text-align: center;
        letter-spacing: 1.5px;
    }
}

@media screen and (min-width: 330px) and (max-width: 429px) {
    
    .learn-body {
        margin: 0;
        padding: 0;
        font-family: "study-variable",sans-serif;
        text-align: center;
        align-items: center;
        background: rgb(233, 234, 230);
    }

    .learn-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .learn-body #learn a{
        border-left: 3px solid rgb(232, 189, 58);
        padding: 3px;
    } 

    .learn-body #namePage{
        margin-left: 3px;
        font-size: 25px;
        font-weight:bolder;
    }

    #c:hover,
    #h:hover,
    #e:hover,
    #s:hover,
    #k:hover,
    #i:hover,
    #n:hover,
    #g:hover,
    #d:hover,
    #o:hover,
    #m:hover{
        color: white;
        text-shadow: 0 0 7px whitesmoke;
    }

    .learn-body .navbar a {
        font-family: "study-variable",sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 3px black;
    }

    .learn-body .navbar a:hover {
        transition-property: font-size, border-bottom;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        font-size: 21px;
        border-bottom: 2px solid whitesmoke;
        border-left: none !important;
    }

    .learn-body #anuncio{
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        color: rgba(0, 0, 0, 0.726);
        font-family: "study-variable", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: italic;
        text-align:center;
    }

    .learn-body .main .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 10px;
        height: 500px;
        width: 100%;
        gap: 3%;
    }

    .learn-body .container .cards {
        background: linear-gradient(180deg,#648de1, #ffffff);
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        overflow: hidden;
        height: 400px;
        width: 82%;
        border-radius: 8px;
    }

    .learn-body .container img, p {
        height: 35%;
    }

    .learn-body .cards h5 {
        color: white;
        padding: 3%;
        font-family: "study-variable", sans-serif;
        text-align: center;
        font-weight: 900;
        height: 8%;
    }

    .learn-body p {
        padding: 5% 1%;
        text-align: center;
        letter-spacing: 1.5px;
    }

    .learn-body .btn {
        background: #3491f3;
        color:rgba(0, 0, 0, 0.726);
        justify-content: center;
        border-radius: 5%;
        height: 9%;
        margin-bottom: 10%;
    }

    .learn-body .btn:hover {
        color: rgb(252, 250, 250);
        background: #2a77ca;
        zoom: 110%;
    }
}

@media screen and (min-width: 430px) and (max-width: 767px) {

    .learn-body {
        margin: 0;
        padding: 0;
        font-family: "study-variable",sans-serif;
        text-align: center;
        align-items: center;
        background: rgb(233, 234, 230);
    }

    .learn-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .learn-body #learn a{
        border-left: 3px solid rgb(232, 189, 58);
        padding: 3px;
    } 

    .learn-body #namePage{
        margin-left: 3px;
        font-size: 25px;
        font-weight:bolder;
    }

    #c:hover,
    #h:hover,
    #e:hover,
    #s:hover,
    #k:hover,
    #i:hover,
    #n:hover,
    #g:hover,
    #d:hover,
    #o:hover,
    #m:hover{
        color: white;
        text-shadow: 0 0 7px whitesmoke;
    }

    .learn-body .navbar a {
        font-family: "study-variable",sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 3px black;
    }

    .learn-body .navbar a:hover {
        transition-property: font-size, border-bottom;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        font-size: 21px;
        border-bottom: 2px solid whitesmoke;
        border-left: none !important;
    }

    .learn-body #anuncio{
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        color: rgba(0, 0, 0, 0.726);
        font-family: "study-variable", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: italic;
        text-align:center;
    }

    .learn-body .main .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 10px;
        height: 500px;
        width: 100%;
        gap: 3%;
    }

    .learn-body .container .cards {
        background: linear-gradient(180deg,#648de1, #ffffff);
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        overflow: hidden;
        height: 450px;
        width: 48.5%;
        border-radius: 8px;
    }

    .learn-body .container img, p {
        height: 25%;
    }

    .learn-body .cards h5 {
        color: white;
        padding: 3%;
        font-family: "study-variable", sans-serif;
        text-align: center;
        font-weight: 900;
        height: 10%;
    }

    .learn-body p {
        padding: 5% 1%;
        text-align: center;
        letter-spacing: 1.5px;
    }

    .learn-body .btn {
        background: #3491f3;
        color:rgba(0, 0, 0, 0.726);
        justify-content: center;
        border-radius: 5%;
        height: 9%;
        margin-top: 32%;
    }

    .learn-body .btn:hover {
        color: rgb(252, 250, 250);
        background: #2a77ca;
        zoom: 110%;
    }
}

@media screen and (min-width: 515px) and (max-width: 767px) {
    .learn-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 2%;
        gap: 3%
    }
 }

 @media screen and (min-width: 768px) and (max-width: 991px) {
    .learn-body {
        margin: 0;
        padding: 0;
        font-family: "study-variable",sans-serif;
        text-align: center;
        align-items: center;
        background: rgb(233, 234, 230);
    }
    
    .learn-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2%;
        padding: 2%;
    }
    
    .learn-body #learn a{
        border-left: 3px solid rgb(232, 189, 58);
        padding: 3px;
    } 
    
    .learn-body #namePage {
        font-size: 40px;
        font-weight:bolder;
    }
    
    #c:hover,
    #h:hover,
    #e:hover,
    #s:hover,
    #k:hover,
    #i:hover,
    #n:hover,
    #g:hover,
    #d:hover,
    #o:hover,
    #m:hover{
        color: white;
        text-shadow: 0 0 7px whitesmoke;
    }
    
    .learn-body .navbar a {
        font-family: "study-variable",sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 3px black;
    }
    
    .learn-body .navbar a:hover {
        transition-property: font-size, border-bottom;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        font-size: 21px;
        border-bottom: 2px solid whitesmoke;
        border-left: none !important;
    }
    
    .learn-body #anuncio{
        margin-top: 3%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        color: rgba(0, 0, 0, 0.726);
        font-family: "study-variable", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: italic;
        text-align:center;
    }
    
    .learn-body .main .container {
        display: flex;
        align-items: center;
        margin-bottom: 1%;
        padding: 10px;
        height: 550px;
        width: 1700px;
        gap: 3%;
    }
    
    .learn-body .container .cards {
        background: linear-gradient(180deg,#648de1, #ffffff);
        margin-left: auto;
        margin-right: auto;
        height: 500px;
        width: 100%;
        border-radius: 8px;
    }
    
    .learn-body .container img, p {
        height: 20%;
    }
    
    .learn-body .cards h5 {
        color: white;
        padding: 3%;
        font-family: "study-variable", sans-serif;
        text-align: center;
        font-weight: 900;
        height: 10.2%;
    }
    
    .learn-body p {
        padding: 5% 1%;
        text-align: center;
        letter-spacing: 1.5px;
    }
    
    .learn-body .btn {
        background: #3491f3;
        color:rgba(0, 0, 0, 0.726);
        justify-content: center;
        border-radius: 5%;
        margin-top: 85%;
    }
    
    .learn-body .btn:hover {
        color: rgb(252, 250, 250);
        background: #2a77ca;
        zoom: 110%;
    }

 }

 @media screen and (min-width:992px) {
    .learn-body {
        margin: 0;
        padding: 0;
        font-family: "study-variable",sans-serif;
        text-align: center;
        align-items: center;
        background:rgb(233, 234, 230);   
    }
    
    .learn-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2%;
        padding: 2%;
    }
    
    .learn-body #learn a{
        border-left: 3px solid rgb(232, 189, 58);
        padding: 3px;
    } 
    
    .learn-body #namePage {
        font-size: 40px;
        font-weight:bolder;
    }

    #c:hover,
    #h:hover,
    #e:hover,
    #s:hover,
    #k:hover,
    #i:hover,
    #n:hover,
    #g:hover,
    #d:hover,
    #o:hover,
    #m:hover{
        color: white;
        text-shadow: 0 0 7px whitesmoke;
    }
    
    .learn-body .navbar a {
        font-family: "study-variable",sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 3px black;
    }
    
    .learn-body .navbar a:hover {
        transition-property: font-size, border-bottom;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        font-size: 21px;
        border-bottom: 2px solid whitesmoke;
        border-left: none !important;
    }
    
    .learn-body #anuncio{
        margin-top: 3%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        color: rgba(0, 0, 0, 0.726);
        font-family: "study-variable", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: italic;
        text-align:center;
    }
    
    .learn-body .main .container {
        display: flex;
        align-items: center;
        margin-bottom: 1%;
        padding: 10px;
        height: 550px;
        width: 1700px;
        gap: 3%;
    }
    
    .learn-body .container .cards {
        background: linear-gradient(180deg,#648de1, #ffffff);
        margin-left: auto;
        margin-right: auto;
        height: 500px;
        width: 100%;
        border-radius: 8px;
    }
    
    .learn-body .container img, p {
        height: 35%;
    }
    
    .learn-body .cards h5 {
        color: white;
        padding: 3%;
        font-family: "study-variable", sans-serif;
        text-align: center;
        font-weight: 900;
        height: 9.3%;
    }
    
    .learn-body p {
        padding: 5% 1%;
        text-align: center;
        letter-spacing: 1.5px;
    }
    
    .learn-body .btn {
        background: #3491f3;
        color:rgba(0, 0, 0, 0.726);
        justify-content: center;
        border-radius: 5%;
        margin-top: 1%;
    }
    
    .learn-body .btn:hover {
        color: rgb(252, 250, 250);
        background: #2a77ca;
        zoom: 110%;
    }

    .learn-body #btn1-msg, #btn2-msg, #btn3-msg, #btn4-msg{
        display: none;
        color: #0ea849f2;
        animation-name: change-size;
        animation-duration: 2s;
        animation-iteration-count: 2;
    }
    @keyframes change-size {
        0% {font-size: 14px}
        50% {font-size: 16px}
        100% {font-size: 14px}
    }
}