.contacto-body {
    margin: 0;
    font-family: "study-variable",sans-serif;
    text-align: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(232, 239, 239), rgb(199, 205, 175));   
}

.contacto-body .navbar {
    background: linear-gradient(180deg, #519bfb, #6294d1c9);  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1%;
    position:static;
}

.contacto-body .navbar > div {
    padding: 15px;
}

.contacto-body #contacto a{
    border-left: 3px solid rgb(232, 189, 58);
    padding: 3px;
} 

.contacto-body #namePage{
    margin-left: 3px;
    font-size: 40px;
    font-weight:bolder;
}

#c:hover,
#h:hover,
#e:hover,
#s:hover,
#k:hover,
#i:hover,
#n:hover,
#g:hover,
#d:hover,
#o:hover,
#m:hover{
    color: white;
    text-shadow: 0 0 7px whitesmoke;
}

.contacto-body .navbar a {
    font-family: "study-variable",sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.contacto-body .navbar a:hover {
    transition-property: font-size;
    transition-property: border-bottom;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    font-size: 21px;
    border-bottom: 2px solid whitesmoke;
    border-left: none !important;
}

.contacto-body h3 {
    margin-top: 3%;
    text-align: center;
}
.contacto-body .container{
    display: flex;
    margin: 2% 35%;
    flex-direction: column;
    width: 31.5%;
}

.contacto-body #msg,
 #mail,
#cel,
#name   {
    margin-top: 4%;
    margin-bottom: 0%;
}

.contacto-body #boxmsg {
    height: 100px;
}

.contacto-body .form-select{
    width: 100%;
    margin: 2% 0% ;
}

.contacto-body h6{
    margin: 2% 0;
}


@media screen and (min-width: 0px) and (max-width: 399) {

    .contacto-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacto-body .navbar a:hover {
        transition-property: font-size, border-bottom;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        font-size: 15px;
        border-bottom: 2px solid whitesmoke;
        border-left: none !important;
    }

    .contacto-body .navbar > div {
        margin-top: 2%;
    }

    .contacto-body #namePage{
        font-size: 25px;
        font-weight:bolder;
    }
    
}
