.galeria-body {
    margin: 0;
    font-family: "study-variable",sans-serif;
    text-align: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(232, 239, 239), rgb(199, 205, 175));   
}

.galeria-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.galeria-body #galeria a{
    border-left: 3px solid rgb(232, 189, 58);
    padding: 3px;
} 

.galeria-body #namePage{
    margin-left: 3px;
    font-size: 40px;
    font-weight:bolder;
}

#c:hover,
#h:hover,
#e:hover,
#s:hover,
#k:hover,
#i:hover,
#n:hover,
#g:hover,
#d:hover,
#o:hover,
#m:hover{
    color: white;
    text-shadow: 0 0 7px whitesmoke;
}

.galeria-body .navbar a {
    font-family: "study-variable",sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.galeria-body .navbar a:hover {
    transition-property: font-size;
    transition-property: border-bottom;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    font-size: 21px;
    border-bottom: 2px solid whitesmoke;
    border-left: none !important;
}

.galeria-body .galeria h2{
    text-align: justify;
    margin: 2%;
}

.galeria-body .campeones{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin: 5% 2%;
    gap: 2.5%;
    flex-wrap: wrap;
}

.galeria-body .imagen{
    border: 2px solid rgba(71, 106, 229, 0.572);
    transform: 0.5 ease;
    margin-bottom: 3.5%;
}

.galeria-body .galeria .campeones .imagen:hover{
    border:none;
    transform: scale(1.2);
}

@media screen and (min-width: 0px) and (max-width: 209px) {

    .galeria-body .navbar {
        flex-direction: column;
    }

    .galeria-body .navbar a {
        font-size: 14px;
    }
    
    .galeria-body #namePage{
        font-size: 20px;
        text-align: center;
    }

    .galeria-body .galeria h2{
        font-size: 18px;
        text-align: center;
    }
    
    .galeria-body .campeones{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 5% 2%;
        gap: 2.5%;
    }

    .imagen{
        width: 90%;
    }
}


@media screen and (min-width: 210px) and (max-width: 249px) {
    
    .galeria-body .navbar {
        flex-direction: column;
    }

    .galeria-body #namePage{
        font-size: 25px;
        font-weight: bolder;
    }

    .galeria-body .navbar a {
        font-size: 15px;
    }

    .galeria-body .galeria h2{
        font-size: 19px;
        text-align: center;
    }

    .galeria-body .campeones{
        flex-direction: row;
        justify-content: center;
    }

    .imagen{
        width: 90%;
        height: 200px;
        border: 2px solid rgba(71, 106, 229, 0.572);
        transform: 0.5 ease;
        margin-bottom: 3.5%;
    }

    .galeria-body .galeria .campeones .imagen:hover{
        transform: scale(1.18);
    }
}

@media screen and (min-width: 250px) and (max-width: 469px) {

    .galeria-body .navbar {
        flex-direction: column;
    }

    .galeria-body #namePage{
        font-size: 25px;
    }

    .galeria-body .navbar a {
        font-size: 17px;
    }

    .galeria-body .galeria h2{
        font-size: 20px;
        text-align: center;
    }

    .galeria-body .campeones{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 7%;
    }
    .galeria-body .imagen{
        width: 40%;
        height: 150px;
    }

    .galeria-body .galeria .campeones .imagen:hover{
        transform: scale(1.18);
    }
}

@media screen and (min-width: 470px) and (max-width: 524px) {
    
    .galeria-body .navbar {
        flex-direction: column;
    }

    .galeria-body #namePage{
        font-size: 25px;
    }

    .galeria-body .galeria h2{
        text-align: center;
        font-size: 22px;
    }
    
    .galeria-body .campeones{
        margin-left: auto;
        margin-right: auto;
        gap: 7%;
        justify-content: center;
    }

    .galeria-body .campeones .imagen{
        width: 40%;
        height: 140px;
    }
}

@media screen and (min-width: 525px) and (max-width: 669px) {

    .galeria-body .navbar {
        gap: 5%;
    }

    .galeria-body #namePage{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 27px;
    }

    .galeria-body .galeria h2{
        font-size: 22px;
        text-align: center;
    }
    
    .galeria-body .campeones{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .galeria-body .campeones .imagen{
        width: 30%;
        height: 140px;
    }

    .galeria-body .galeria .campeones .imagen:hover{
        transform: scale(1.1);
    }
}

@media screen and (min-width: 669px) {

    .galeria-body .navbar {
        background: linear-gradient(180deg, #519bfb, #6294d1c9);  
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3%;
        padding: 2%;
    }

    .galeria-body .galeria h2{
        text-align: center;
        margin: 2%;
    }
    
    .galeria-body .campeones{
        display:flex;
        flex-direction: row;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        gap: 2.5%;
        justify-content: center;
    }
}



